In [1]:
import numpy as np
import pandas as pd
import seaborn as sb

In [73]:
data = sb.load_dataset('mpg')
data.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [75]:
data.insert(8, 'horse_origin', print('lower '+data.origin if data.horsepower.any()<105 else 'upper '+data.origin))

0         lower usa
1         lower usa
2         lower usa
3         lower usa
4         lower usa
           ...
393       lower usa
394    lower europe
395       lower usa
396       lower usa
397       lower usa
Name: origin, Length: 398, dtype: object

In [ ]:
# use .format() and .apply()